.app {
  display: grid;
  grid-template-rows: 50px 350px 50px;
  grid-template-areas:
      "top-left top-right"
      "simple-card simple-card"
      "bottom-left bottom-right";
  place-items: center;
  min-width: 100vw;
  margin: auto 0;
}

.radius-sample {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 300px;
  background: linear-gradient(to right, rgb(192, 72, 72), rgb(72, 0, 72));
  grid-area: simple-card;
}


.top-left {
  grid-area: top-left;
}

.top-right {
  grid-area: top-right;
}

.blank {
  width: 200px;
  grid-area: blank;
}

.bottom-left {
  grid-area: bottom-left;
}

.bottom-right {
  grid-area: bottom-right;
}

.app label {
  color: #fff;
}

.border-radius-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}