.app {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas:
      "top-left . top-right"
      ". simple-card ."
      "bottom-left button bottom-right";
  place-items: center;
  min-width: 100vw;
  align-content: center;
}

.radius-sample {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 300px;
  background: linear-gradient(to right, rgb(192, 72, 72), rgb(72, 0, 72));
  grid-area: simple-card;
}


.top-left {
  grid-area: top-left;
}

.top-right {
  grid-area: top-right;
}

.blank {
  width: 200px;
  grid-area: blank;
}

.bottom-left {
  grid-area: bottom-left;
}

.bottom-right {
  grid-area: bottom-right;
}

.app label {
  color: #fff;
}

.border-radius-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.copy-to-clipboard {
  grid-area: button;
}

.copy-to-clipboard-btn {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.copy-to-clipboard-btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.copy-to-clipboard-btn:active {
  color: #000
}

.copy-to-clipboard-btn:active:after {
  background: transparent;
}

.copy-to-clipboard-btn:hover:before {
  opacity: 1;
}

.copy-to-clipboard-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}